.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.buttonRow {
  display: flex;
  justify-content: center;
  width: 80%;
}

.gameButton:hover {
  cursor: pointer;
  background-color: blueviolet;
}

.gameButton {
  border: solid;
  height: 6rem;
  width: 6rem;
}

.pastList {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.Restartbutton{

  width: 6rem;
  margin-bottom: 1rem;
}